html {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.banner {
  position: relative;
  text-align: left;
  font-size: 2rem;
}

.img-flex {
  position: absolute;
  display: block;
  width: 100%;
  z-index: -1000;
}

.image-content {
  flex-direction: column;
  position: relative;
  left: 50%;
  transform: translateX(.5%);
  bottom: 0;
}

.img-content h2 {
  font-size: 4rem;
  font-weight: bold;
  color: #fff;
  margin: 0;
  background-color: rgba(0, 0, 0, .5);
  max-width: 650px;
  text-align: left;
}

.img-content p {
  margin: 0;
  font-style: italic;
  max-width: 650px;
}

.img {
  max-height: 500px;
  max-width: 50em;
  overflow: hidden;
}
